@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
    font-family: "pokemon-solid"; 
    src: url("/fonts/Pokemon-Solid.ttf"); 
}
@font-face { 
    font-family: "pokemon-hollow"; 
    src: url("/fonts/Pokemon-Hollow.ttf"); 
}